<nav>
  <div class="nav__logo">
    <a routerLink="home"><img src="assets/logo.png" alt="logo" /></a>
  </div>

  <ul class="nav__links">
    <li class="link"><a routerLink="/home">Home</a></li>
    <div>
      <button mat-button [matMenuTriggerFor]="productsMenu" class="sel">Products</button>
      <mat-menu #productsMenu="matMenu">
        <button mat-menu-item (click)="navigateToSupplements()">Supplemets</button>
        <button mat-menu-item (click)="navigateToGymEquipment()">Gym Equipments</button>
        <button mat-menu-item (click)="navigateToYoga()">Yoga Equipments</button>
        <button mat-menu-item (click)="navigateToGymAccessiors()">Gym Accessiors</button>
      </mat-menu>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="serviceMenu" class="sel">Services</button>
      <mat-menu #serviceMenu="matMenu">
        <button mat-menu-item (click)="navigateToBmi()">BMI Calculator</button>
        <button mat-menu-item (click)="navigateToDiet()">Diet Plan</button>
        <!-- <button mat-menu-item (click)="navigateToBookTrainer()">Book Trainer</button> -->
      </mat-menu>
    </div>
    <li class="link"><a (click)="navigateToAboutus()">About</a></li>
  </ul>
  <div id="stripe">
    <button *ngIf="loginStatus" (click)="navigateToCart()" mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button class="btn" *ngIf="!loginStatus" mat-button [matMenuTriggerFor]="loginMenu">Login</button>
    <mat-menu #loginMenu="matMenu">
      <button mat-menu-item (click)="navigateTocustomerLogin()">Customer</button>
      <!-- <button mat-menu-item (click)="navigateTotrainerLogin()">Trainer</button> -->
    </mat-menu>
    <button>
      <div *ngIf="loginStatus" class="relative ml-3 flex items-center space-x-2">
        <button mat-button [matMenuTriggerFor]="profileMenu">
          <img class="h-5 w-5"
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="navigateToCustomer()">profile</button>
          <button mat-menu-item><a href="#">Logout</a></button>
        </mat-menu>
      </div>
    </button>
  </div>
</nav>