<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <h2>Product Form</h2>

        <form #productForm="ngForm" (ngSubmit)="submitProduct(productForm.value)" novalidate>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" ngModel required placeholder="Product Name" />
                <div *ngIf="productForm.controls['name'].errors?.['required'] && productForm.controls['name'].touched"
                    class="error-message">Please enter product name</div>
            </div>

            <br />

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" name="description" ngModel required placeholder="Product Description"></textarea>
                <div *ngIf="productForm.controls['description'].errors?.['required'] && productForm.controls['description'].touched"
                    class="error-message">Please enter product description</div>
            </div>

            <br />

            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" name="price" ngModel required placeholder="Product Price" />
                <div *ngIf="productForm.controls['price'].errors?.['required'] && productForm.controls['price'].touched"
                    class="error-message">Please enter product price</div>
            </div>

            <br />

            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" class="form-control" name="imageUrl" ngModel required placeholder="Product URL" />
                <div *ngIf="productForm.controls['imageUrl'].errors?.['required'] && productForm.controls['imageUrl'].touched"
                    class="error-message">Please enter product URL</div>
            </div>

            <br />

            <button [disabled]="!productForm.valid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>
